
@{
    ViewBag.Title = "Chi tiết sách - Thư viện trường đại học FPT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start body -->
<div class="container">
    <figure>
        <img class="pic-header" alt="Home Slide" src="~/AllContent/images/white-background.png" />
    </figure>
    <div class="navbar-home">
        <a href="@Url.Action("Home", "Home")" style="background-color: #D8491F"><i class="fa fa-home"></i> Trang chủ</a>
        <a href="#">Giới thiệu</a>
        <a href="#">Sản phẩm</a>
        <div class="dropdown-home">
            <button class="dropbtn">Dịch vụ</button>
            <div class="dropdown-content">
                <a href="#">Z39.50</a>
            </div>
        </div>
        <a href="#" style="width: 153px">Nội qui thư viện</a>
        <a href="@Url.Action("PatronPage", "InformationPatron")" style="width: 220px">Thông tin bạn đọc</a>
        <a href="@Url.Action("Login", "Login")" id="login" class="login"><i class="fa fa-sign-in"></i> Đăng nhập</a>
    </div>
    <br>
    <h2 class="searching">Thông tin chi tiết sách</h2>
    <br>
    <div class="w3-bar w3-black">
        <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'detail-display')">
            Hiển thị đầy
            đủ
        </button>
        <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'MARC-display')">
            Hiển thị
            MARC
        </button>
    </div>
    <br>
    <div class="display-detail">
        <div id="detail-display" class="w3-container thing" style="display: block">
            <table>
                <th>
                    <Label style="font-size: 26px; padding-left: 5px;" class="search-data">
                        <b>Dữ liệu biên mục</b>
                    </Label>
                </th>
            </table>
            <table style="width: 900px">
                <tr>
                    <td class="detail"><b>Loại tài liệu</b></td>
                    <td>Tư liệu ngôn ngữ (Sách)</td>
                </tr>
                <tr>
                    <td class="detail"><b>Mã ngôn ngữ</b></td>
                    <td>Vie</td>
                </tr>
                <tr>
                    <td class="detail"><b>Phân loại thập phân Dewey</b></td>
                    <td>005.74,</td>
                </tr>
                <tr>
                    <td class="detail"><b>Tên tác giả</b></td>
                    <td>Nguyễn Ngọc Tuấn</td>
                </tr>
                <tr>
                    <td class="detail"><b>Tác giả liên quan</b></td>
                    <td>Hồng Phúc Tác giả</td>
                </tr>
                <tr>
                    <td class="detail"><b>Thông tin nhan đề</b></td>
                    <td>Phát triển cơ sở dữ liệu Java Oracle / Nguyễn Ngọc Tuấn, Hồng Phúc</td>
                </tr>
                <tr>
                    <td class="detail"><b>Xuẩt bản,phát hành</b></td>
                    <td>H.: Giao thông vận tải, 2005</td>
                </tr>
                <tr>
                    <td class="detail"><b>Mô tả vật lý</b></td>
                    <td>434 tr.; 24 cm</td>
                </tr>
                <tr>
                    <td class="detail"><b>Từ khóa</b></td>
                    <td>1. Cơ sở dữ liệu. 2. Công nghệ thông tin. 3. Java. 4. Oracle. 5. Phát triển.</td>
                </tr>
            </table>
            <hr style="height: 3px; width: 900px">
            <table>
                <th>
                    <Label style="font-size: 26px; padding-left: 5px;" class="search-data">
                        <b>Thông tin đăng ký cá biệt</b>
                    </Label>
                </th>
            </table>
            <table style="width: 900px">
                <tr>
                    <td class="detail"><b>FSE-HL: TK/TTHL</b> [ Rỗi ] Tổng: 3; Rỗi: 3</td>
                </tr>
                <tr>
                    <td class="detail">TK/TTHL000286, TK/TTHL001383, TK/TTHL001698</td>
                </tr>
                <tr>
                    <td class="detail">Tổng số bản: <b>3</b></td>
                </tr>
                <tr>
                    <td class="detail">Số bản rỗi: <b>3</b> (kể cả các bản được giữ chỗ)</td>
                </tr>
                <tr>
                    <td class="detail">
                        Số bản được giữ chỗ: <b>0</b>&nbsp;&nbsp;
                        <a href="#open-modal" class="borrow">Đặt mượn sách</a>
                    </td>
                </tr>
            </table>
        </div>

        <div id="MARC-display" class="w3-container thing" style="display: none">
            <table>
                <th>
                    <Label style="font-size: 26px; padding-left: 5px;" class="search-data">
                        <b>Dữ liệu biên mục</b>
                    </Label>
                </th>
            </table>
            <table style="width: 0px">
                <tr>
                    <td class="marc1">Ldr</td>
                    <td class="marc2"></td>
                    <td class="marc3">00025nam a2200024 a 4500</td>
                </tr>
                <tr>
                    <td class="marc1">001</td>
                    <td class="marc2"></td>
                    <td class="marc3">FPT070013649</td>
                </tr>
                <tr>
                    <td class="marc1">040</td>
                    <td class="marc2">##</td>
                    <td class="marc3">$aTVFPT</td>
                </tr>
                <tr>
                    <td class="marc1">041</td>
                    <td class="marc2">##</td>
                    <td class="marc3">$aVie</td>
                </tr>
                <tr>
                    <td class="marc1">044</td>
                    <td class="marc2">##</td>
                    <td class="marc3">$aVm</td>
                </tr>
                <tr>
                    <td class="marc1">082</td>
                    <td class="marc2">##</td>
                    <td class="marc3">$a005.74</td>
                </tr>
                <tr>
                    <td class="marc1">090</td>
                    <td class="marc2">##</td>
                    <td class="marc3">$a005.74$bT883</td>
                </tr>
                <tr>
                    <td class="marc1">100</td>
                    <td class="marc2">##</td>
                    <td class="marc3">$aNguyễn Ngọc Tuấn</td>
                </tr>
                <tr>
                    <td class="marc1">245</td>
                    <td class="marc2">##</td>
                    <td class="marc3">$aPhát triển cơ sở dữ liệu Java Oracle /$c Nguyễn Ngọc Tuấn, Hồng Phúc</td>
                </tr>
                <tr>
                    <td class="marc1">260</td>
                    <td class="marc2">##</td>
                    <td class="marc3">$aH.:$bGiao thông vận tải,$c2005</td>
                </tr>
                <tr>
                    <td class="marc1">100</td>
                    <td class="marc2">##</td>
                    <td class="marc3">$aNguyễn Ngọc Tuấn</td>
                </tr>
                <tr>
                    <td class="marc1">300</td>
                    <td class="marc2">##</td>
                    <td class="marc3">$a434 tr.;$c24 cm</td>
                </tr>
                <tr>
                    <td class="marc1">650</td>
                    <td class="marc2">##</td>
                    <td class="marc3">$aCore java</td>
                </tr>
                <tr>
                    <td class="marc1">650</td>
                    <td class="marc2">##</td>
                    <td class="marc3">$aJava cơ bản</td>
                </tr>
                <tr>
                    <td class="marc1">653</td>
                    <td class="marc2">##</td>
                    <td class="marc3">$aCơ sở dữ liệu</td>
                </tr>
                <tr>
                    <td class="marc1">653</td>
                    <td class="marc2">##</td>
                    <td class="marc3">$aCông nghệ thông tin</td>
                </tr>
                <tr>
                    <td class="marc1">653</td>
                    <td class="marc2">##</td>
                    <td class="marc3">$aJava</td>
                </tr>
                <tr>
                    <td class="marc1">653</td>
                    <td class="marc2">##</td>
                    <td class="marc3">$aOracle</td>
                </tr>
                <tr>
                    <td class="marc1">653</td>
                    <td class="marc2">##</td>
                    <td class="marc3">$aPhát triển</td>
                </tr>
                <tr>
                    <td class="marc1">700</td>
                    <td class="marc2">##</td>
                    <td class="marc3">$aHồng Phúc $eTác giả</td>
                </tr>
                <tr>
                    <td class="marc1">852</td>
                    <td class="marc2"></td>
                    <td class="marc3">$aFSE-HL$bTK/TTHL$jTK/TTHL000286</td>
                </tr>
                <tr>
                    <td class="marc1">852</td>
                    <td class="marc2"></td>
                    <td class="marc3">$aFSE-HL$bTK/TTHL$jTK/TTHL001383</td>
                </tr>
                <tr>
                    <td class="marc1">852</td>
                    <td class="marc2"></td>
                    <td class="marc3">$aFSE-HL$bTK/TTHL$jTK/TTHL001698</td>
                </tr>
                <tr>
                    <td class="marc1">900</td>
                    <td class="marc2"></td>
                    <td class="marc3">0</td>
                </tr>
                <tr>
                    <td class="marc1">911</td>
                    <td class="marc2"></td>
                    <td class="marc3">Lệ</td>
                </tr>
                <tr>
                    <td class="marc1">925</td>
                    <td class="marc2"></td>
                    <td class="marc3">G</td>
                </tr>
                <tr>
                    <td class="marc1">926</td>
                    <td class="marc2"></td>
                    <td class="marc3">0</td>
                </tr>
                <tr>
                    <td class="marc1">927</td>
                    <td class="marc2"></td>
                    <td class="marc3">SH</td>
                </tr>
            </table>
            <hr style="height: 3px; width: 900px">
            <table>
                <th>
                    <Label style="font-size: 26px; padding-left: 5px;" class="search-data">
                        <b>Thông tin đăng ký cá biệt</b>
                    </Label>
                </th>
            </table>
            <table style="width: 1000px">
                <tr>
                    <td class="detail"><b>FSE-HL: TK/TTHL</b> [ Rỗi ] Tổng: 3; Rỗi: 3</td>
                </tr>
                <tr>
                    <td class="detail">TK/TTHL000286, TK/TTHL001383, TK/TTHL001698</td>
                </tr>
                <tr>
                    <td class="detail">Tổng số bản: <b>3</b></td>
                </tr>
                <tr>
                    <td class="detail">Số bản rỗi: <b>3</b> (kể cả các bản được giữ chỗ)</td>
                </tr>
                <tr>
                    <td class="detail">
                        Số bản được giữ chỗ: <b>0</b>&nbsp;&nbsp;
                        <a href="#open-modal" class="borrow">Đặt mượn sách</a>
                    </td>
                </tr>
            </table>
        </div>
        <br>
    </div>
    <hr>
    <div>
        <a href="Search.html" class="back"><b><i class='fa fa-arrow-left'></i> Quay về trang tìm kiếm</b></a>
    </div>
    <br>
</div>
<br>
<!-- End body -->
<!-- Confirm borrowing book popup-->
<div id="open-modal" class="modal-window">
    <div>
        <a href="#" title="Đóng" class="modal-close">&times;</a>
        <h1 style="font-family: Arial">Xác nhận mượn sách</h1>
        <div>Bạn có muốn mượn sách <b>Phát triển cơ sở dữ liệu Java Oracle / Nguyễn Ngọc Tuấn, Hồng Phúc</b>?</div>
        <div>
            <p style="text-align: center; position: relative; top: 28px">
                <a href="#open-modal2" onclick="redirectLink()" class="btn1 btn-borrow1" style="color: white">Đồng ý</a>
                <button class="submit" onclick="window.history.back()">Hủy bỏ</button>
            </p>
        </div>
    </div>
</div>

<div id="open-modal2" class="modal-window">
    <div>
        <div class="success-checkmark">
            <div class="check-icon">
                <span class="icon-line line-tip"></span>
                <span class="icon-line line-long"></span>
                <div class="icon-circle"></div>
                <div class="icon-fix"></div>
            </div>
        </div>
        <p style="font-family: Arial; color: green; text-align: center; font-size: 30px">Đặt mượn thành công!</p>
    </div>
</div>

