
@{
    ViewBag.Title = "Thông tin bạn đọc - Thư viện trường đại học FPT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start body -->
<div class="container">
    <figure>
        <img class="pic-header" alt="Home Slide" src="~/AllContent/images/white-background.png" />
    </figure>
    <div class="navbar-home">
        <a href="@Url.Action("Home", "Home")"><i class="fa fa-home"></i> Trang chủ</a>
        <a href="#">Giới thiệu</a>
        <a href="#">Sản phẩm</a>
        <div class="dropdown-home">
            <button class="dropbtn">Dịch vụ</button>
            <div class="dropdown-content">
                <a href="#">Z39.50</a>
            </div>
        </div>
        <a href="#" style="width: 153px">Nội qui thư viện</a>
        <a href="@Url.Action("PatronAfterLoginPage", "InformationPatron")" style="width: 220px; background-color: #D8491F">Thông tin bạn đọc</a>
        <a href="@Url.Action("Home", "Home")" id="login" class="login"><i class="fa fa-sign-out"></i> Đăng xuất</a>
    </div>
    <br>
    <div class="inline">
        <table border="1" class="personal" id="list-infor">
            <tr>
                <th class="personal">Trình đơn bạn đọc</th>
            </tr>
            <tr>
                <td class="personal selecting">Thông tin bạn đọc</a></td>
            </tr>
            <tr>
                <td class="personal"><a href="@Url.Action("BookBorrowingPage", "InformationPatron")" class="personal">Tài liệu đang mượn</a></td>
            </tr>
            <tr>
                <td class="personal"><a href="#" class="personal">Thông tin đặt mượn sách</a></td>
            </tr>
            <tr>
                <td class="personal"><a href="#" class="personal">Lịch sử mượn sách</a></td>
            </tr>
        </table>
    </div>
    <div class="inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div>
        <table border="1" class="personal" id="infor">
            <tr>
                <th class="personal">Thông tin bạn đọc</th>
            </tr>
            <tr>
                <td class="personal">
                    <table id="person-infor">
                        <tr>
                            <td class="fornews">Tên bạn đọc:</td>
                            <td class="fornews">Nguyễn Trọng Thắng</td>
                        </tr>
                        <tr>
                            <td class="fornews">Số thẻ:</td>
                            <td class="fornews">SE05041</td>
                        </tr>
                        <tr>
                            <td class="fornews">Cấp ngày:</td>
                            <td class="fornews">25/09/2015</td>
                        </tr>
                        <tr>
                            <td class="fornews">Hết hạn ngày:</td>
                            <td class="fornews">25/09/2020</td>
                        </tr>
                        <tr>
                            <td class="fornews">Nhóm bạn đọc:</td>
                            <td class="fornews">Sinh viên FU Hà Nội</td>
                        </tr>
                        <tr>
                            <td class="fornews" colspan="2">
                                <button class="submit" id="change-info" onclick="alert('OK')">
                                    Thay đổi thông
                                    tin
                                </button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <br>
</div>
<br>
<!-- End body -->
